@font-face {
  font-family: 'SegoeWP';
  src: url('../fonts/SegoeWP.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeWP-Black';
  src: url('../fonts/SegoeWP-Black.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeWP-Bold';
  src: url('../fonts/SegoeWP-Bold.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeWP-Light';
  src: url('../fonts/SegoeWP-Light.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeWP-Semibold';
  src: url('../fonts/SegoeWP-Semibold.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeWP-Semilight';
  src: url('../fonts/SegoeWP-Semilight.woff');
  font-weight: normal;
  font-style: normal;
}
