

@font-face {
  font-family: 'SegoeWP';
  src: url('../fonts/SegoeWP.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeWP-Black';
  src: url('../fonts/SegoeWP-Black.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeWP-Bold';
  src: url('../fonts/SegoeWP-Bold.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeWP-Light';
  src: url('../fonts/SegoeWP-Light.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeWP-Semibold';
  src: url('../fonts/SegoeWP-Semibold.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeWP-Semilight';
  src: url('../fonts/SegoeWP-Semilight.woff');
  font-weight: normal;
  font-style: normal;
}

.footer {
  font-size: 0;
}

body {
  font-family: SegoeWP, sans-serif;
}

%outline {
  // outline: 1px solid #000;
  outline: 1px solid transparent;
}

%clear {
  content: "";
  clear: both;
  display: block;
}

body {
}

p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type=search] {
	cursor: pointer;
	width: 74%;
  font-size: 16px;
  // border-radius: 2px;
  -moz-appearance:none;
   -webkit-appearance:none;
   outline: none;
   border:none;
  //  border: 3px solid #79b260;
   font-size: 16px;
   border-radius: 2px;
    padding: 7px 2px;
}



.wrap {
  @extend %outline;
  padding: 0 10px;
  width: 1024px;
  margin: 0 auto;

  &::after {
    @extend %clear;
  }
}

//header-top

.header-top {
  @extend %clear;
  // height: 28px;
  background-color: #424242;

  .ht-list {
    margin-right: 31px;
  }
  a {
    display: inline-block;
    padding: 5px 7px;
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #79b260;
    }
  }
}

.ht-list {
  @extend %outline;
  float: right;

  &-item {
    display: inline-block;
  }
}

//header

.header {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
  padding: 18px 0px;
  // background-color: #000;

  &::after {
    @extend %clear;
  }

  .h-logo {
    @extend %outline;
    float: left;
    width: 135px;
    height: 75px;
    margin-right: 42px;
    background: url('../img/logo.png') no-repeat 50% 50%;
  }

  .h-search {
    @extend %outline;
    float: left;
    width: 456px;
    // height: 75px;
    padding: 20px 0;

    form {
      background-color: #79b260;
      padding: 4px;
      border-radius: 2px;
      vertical-align: middle;

      button {
      	cursor: pointer;
      	width: 25%;
        outline: none;
        border:none;
        padding: 1px 2px;
        font-size: 23px;
        font-weight: 400;
        color: #fff;
        position: relative;
        display: inline-block;
        padding-left: 30px;
        background-color: transparent;
        vertical-align: top;

        &::before {
          content: '';
          position: absolute;
          left: 8px;
          top: 4px;
          width: 24px;
          height: 24px;
          background: url('../img/search.png') no-repeat 50% 50%;

        }
      }
    }


  }

  .h-basket-list {
    @extend %outline;
    float: right;
    width: 334px;
    height: 75px;

    &::after {
      @extend %clear;
    }
  }

  .h-basket {
    float: left;
    padding-top: 6px;
    width: 189px;
    @extend %outline;

    &-layout {
      vertical-align: middle;
      padding-bottom: 8px;
    }

    &_cart {
      @extend %outline;
      color: #6D6D6D;
      font-weight: 400;
      font-size: 20px;
      position: relative;
      padding-left:37px;
      padding-bottom: 7px;

      span {
        font-size: 12px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 27px;
        height: 29px;
        background: url('../img/basket.png') no-repeat 50% 50%;
        left:0;
        top:0;
      }

    }

    &_price {
      display: inline-block;
      color: #6D6D6D;
      font-family: "SegoeWP";
      font-size: 27px;
      font-weight: 700;
      margin-right: 17px;
      position: relative;
      top: 3px;

    }

    &_checkout {
      /* Style for Shape 8 */
      // width: 83px;
      // height: 28px;
      padding: 3px 9px;
      background-image: linear-gradient(to top, #242424 0%, #424242 100%);
      border: 1px solid #232323;
      box-shadow: inset 0.5px 0.9px 0 rgba(118, 118, 118, 0.75);
      border-radius: 4px;
      text-decoration: none;
      /* Style for "Checkout" */
      color: #FFF;
      font-family: "SegoeWP";
      font-size: 15px;
      font-weight: 400;
    }
  }

  .h-wishlist {
    float: right;
    // width: 115px;
    @extend %outline;
    text-align: center;
    padding: 15px 51px 10px 26px;
      font-family: "SegoeWP";

    &_logo {
      width: 25px;
      height: 25px;
      margin: 0 auto;
      background: url("../img/wish.png") no-repeat 0 0;
      margin-bottom: 5px;
    }

    &_text {
      font-size: 18px;
      font-weight: 400;
      position: relative;
    }
    &_count {
      position: absolute;
      width: 17px;
      height: 16px;
      background-color: #79B260;
      color: #fff;
      font-size: 12px;
      line-height: 12px;
      vertical-align: middle;
      font-weight: 400;
      border-radius: 32%;
      padding: 3px 5px 1px;
      font-style: normal;
      right: -19px;
      top: -17px;
    }
  } /*end h-wishlist*/
} /*end header*/

//menu

.menu {
  margin-bottom: 8px;

  .m-list {
    text-align: justify;
    font-size: 0;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }

  .m-list-item {
    display: inline-block;
    // text-align: justify;
  }

  a {
    display: inline-block;
    text-decoration: none;
    font-size: 19px;
    font-weight: 400;
    color: #5B5B5B;
    padding: 7px 10px;

    &:hover {
      background-image: linear-gradient(to top, #79B260 0%, #92D774 100%);
      color: #fff;
    }
  }

}

//content

.content {

  &::after {
    @extend %clear;
  }
}

.c-title {
  font-size: 24px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  margin-left: 14px;
  margin-bottom: 17px;
}


.c-categories {
  float: left;
  width: 188px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 1, 0.16);
  margin-right: 7px;
  padding: 12px 0px 50px 16px;
  box-sizing: border-box;

  .c-title {
    margin-left: 0;
  }

  &::after {
    @extend %clear;
  }

  .c-list-item a {
    display: block;
    text-decoration: none;
    color: #696969;
    font-size: 17px;
    font-weight: 600;
    margin: 10px 0;
    transition: all .2s ease-out;

    &:hover {
      transition: all .2s ease-out;
      text-decoration: underline;
    }
  }

  .c-list-item_genre a {
    display: block;
    text-decoration: none;
    color: #696969;
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    margin: 0;

    &:hover {
      background-image: linear-gradient(to top, #79B260 0%, #92D774 100%);
      color: #fff;

      text-decoration: none;
    }
  }
}



.c-product {
  // float: left;
  background-color: #FFF;
  border: 1px solid #D8DCE0;
  font-size: 0;
  width: 782px;
  margin-bottom: 22px;
  padding: 12px 0px 0px 16px;
  margin-left: 194px;

  &::after {
    @extend %clear;
  }

  .product-grid {width: 100%;margin-bottom: 15px;}

  .product-card {
    // @extend %outline;
    display: inline-block;
    font-size: 16px;
    width: 108px;
    height: 225px;
    margin: 0 15px;
    padding: 5px 9px;
    margin-bottom: 20px;
    //
    // &:nth-child(5n) {
    //   margin-right: 0px;
    // }

    &_img {
      width: 97px;
      height: 150px;
      border: 5px solid #FFF;
      box-shadow: 0 0 16px rgba(0, 0, 0, 0.13);
      margin-bottom: 4px;

    }

    &_title {
      text-align: center;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 5px;

      a {
        text-decoration: none;
        color: #595959;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &_price {
      text-align: center;
      color: #F05356;
      font-size: 22px;
      font-weight: 400;
    }
  }

  .num-list {
    font-size: 16px;
    float: right;
    display: block;
    margin-right: 50px;

    &-item {
      display: inline-block;
    }
  }
}

//footer

.footer {
  font-size: 0;
  color: #ddd;
  background: url(../img/footer-bg.jpg) repeat 0 0;

  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  a {
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
    text-decoration: none;
    opacity: 0.7;
    color: #DDD;
  }

  .f-col-4 {
    // @extend %outline;
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    font-size: 16px;
    vertical-align: top;
    padding-right: 25px;
    margin-bottom: 5px;


    &:nth-child(3),
    &:nth-child(4) {
      padding-left: 50px;
    }

    .f-col-4_title {
      font-size: 20px;
      font-weight: 400;
      margin-top: 22px;
    }

    .f-list-item {
      border-bottom: 1px solid rgba(222, 222, 222, 0.11);
    }
  }

  .f-banking {
    padding: 25px 0 13px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    background: url(../img/banking-bg.jpg) repeat 0 0;

    p {
      margin-bottom: 10px;
    }

    &_card {
      width: 149px;
      margin: 0 auto;
      // margin-bottom: 13px;

      img:nth-child(2) {
        margin: 0 4px;
      }
    }
  }

  .f-line {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    opacity: 0.2;
  }

  .f-notice {
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0 30px;
    text-align: center;
  }
}

@import "media-queries";
